@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />
<div class="form-group">
  <form id="claim-form" method="post" data-url-action="@Url.Action("Route", "Controller")">
    <input type="hidden" name="JobId" value=@Model.JobId>
    <input type="hidden" name="Title" value=@Model.Title>
    <input type="hidden" name="Description" value=@Model.Description>
    <div class="well">
      <h4>@Model.Title</h4>
      <hr>
      <input type="submit" value="Claim This Job" class="btn btn-primary">
    </div>
  </form>

</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    <h4>@Model.Title</h4>
    <input type="submit" value="Claim This Job" />
    <button type="button" name="claim-job" id="claim-job" class="btn btn-primary">Claim Job</button>

}
<p>@Html.ActionLink("Back to list", "Index")</p>
