

@model MrFixIt.Models.Job
<div class="panel panel-info">
  <div class="panel-heading">
    <h2>Create new Job</h2>
  </div>
  <div class="panel-body">
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Title)
      <br>
      @Html.TextBoxFor(model => model.Title, new { @required = "true" })
      <hr>
      @Html.LabelFor(model => model.Description)
      <br>
      @Html.TextAreaFor(model => model.Description, new { @required = "true" })
      <hr>
      <input type="submit" value="Add new job" class="btn btn-info"/>
    }
  </div>
</div>
<p>@Html.ActionLink("Back to list", "Index")</p>
