@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2>Our Current Jobs</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        @Html.ActionLink("Add a new job", "Create")
        <hr>
      </div>
      @foreach (var Job in Model)
      {
        <div class="col-sm-4">
          <div class="well">
            <div>
              <div><h4>@Job.Title</h4></div>
              <div>
                <div>Description: @Job.Description</div>
              </div>
              @if (Job.Worker == null)
              {
                <div class="btn">This job is unclaimed. @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</div>
              }
              else
              {
                <div class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</div>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
